<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean id="msgBean" class="com.abc.springcore.bean.MessageBean">
			<property name="msg" value="Hello Spring!"/>
		</bean>
		
		<bean id="emp1" class="com.abc.springcore.bean.Employee">
			<property name="empno" value="10002"/>
			<property name="name" value="Raj"/>
			<property name="salary" value="950000"/>
		</bean>		
		
		
</beans>		